<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body{
            font-family:'Times New Roman', Times, serif
        }
        h1{
            margin-top: 20px;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        #logout{
            margin-left: 800px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #cfe6f6;">
        <b class="navbar-brand">@{{admin.name}}</b>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{url_for('admin_dashboard')}}">Dashboard</a>
                <a class="nav-item nav-link" href="{{url_for('tracks')}}">Tracks</a>
                <a class="nav-item nav-link" href="{{url_for('albums')}}">Albums</a>
                <a class="nav-item nav-link" href="{{url_for('creators')}}">Creators</a>
                <a id="logout" class="nav-item nav-link" href="{{url_for('login')}}"> Logout</a>
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container">
        <h1> All Tracks </h1>
        <table class="table">
            <thead>
                <th>Song</th>
                <th>Creator</th>
                <th>Genre</th>
                <th>Album</th>
                <th>Duration(seconds)</th>
                <th>Likes</th>
                <th>Views</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for song in songs %}
                    <tr>
                        <td>{{song.name}}</td>
                        <td>{{song.creator_name}}</td>
                        <td>{{song.genre}}</td>
                        <td>{{song.album.name}}</td>
                        <td>{{song.duration}}</td>
                        <td>{{song.likes}}</td>
                        <td>{{song.play_count}}</td>
                        <td>
                            <a href="{{url_for('view_lyrics', song_id = song.id)}}" class="btn btn-primary">View Lyrics</a>
                            <a href="{{url_for('delete_song', song_id = song.id)}}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
</html>
